#bonsyousai {
    font-weight: bold;

    .containar {
        justify-content: start;
        .title-back {
            top: 0cqi;
            margin: 0px;
        }
    }

    .body-containar {

        display: flex;
        flex-direction: row-reverse;

        .schedule-containar {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: oklch(50% 50% 45);
            padding: 0.5vw;
            color: white;

            .bonshousai {
                writing-mode: vertical-rl;
                font-size: 2em;
                padding-bottom: 1em;
            }

            .yotei-containar {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                

                .hiduke {
                    writing-mode: vertical-lr;

                }

                .jikann {
                    writing-mode: vertical-lr;

                }
            }
        }

        .part-containar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .explanation-containar {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .gazou {
                    img {
                        vertical-align: top;
                    }
                }

                .rainen {
                    font-size: 0.9em;
                    color: oklch(30% 50% 180);
                    padding: 0.5vw;
                }
            }

            .gomagi-containar {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: oklch(30% 50% 30);
                background-color:  hsl(30, 50%, 50%);
                padding: 0em 0em;

                .soegoma {}

                .gohyakuen {}

                .gomagi-gazou {
                    width: 6em;
                    height: 9em;
                }

                .negaigoto {
                    color: oklch(30% 30% 270);
                    font-size: 1em;
                }
            }
        }
    }

    .foot-containar {
        padding-top: 0.5vw;
        .irai {
            text-align: center;
            background-color: oklch(80%, 50%, 0);
        }
    }

}

yoko {
    text-combine-upright: all;
}
