#kotoba {

    .kotoba-container {
        width: 100%;
        height: 100%;
        background-image: url(../media/11/11gatu.jpg);
        background-color: rgba(256, 256, 256, 0.7);
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 2.2em;
        font-weight: bolder;
        width: 100%;
        height: 15mm;
        text-align:center;
        padding: 3mm 0;
    }


    .copy {
        font-size: 1.8em;
        font-weight: bolder;
        line-height: 2;
        writing-mode: vertical-rl;
    }

    .source {
        font-size: 0.8em;
        font-weight: bold;
        height: 20mm;
    }
}