#oshie {
    display: flex;
    flex-flow: column;
    container-type: inline-size;
    
    .title {
        width:100%;
        height: 15mm;
        font-size: 8cqw;
        font-weight: bolder;
        text-align: center;
        padding: 3mm 0;
    }

    .haikei {
        height: 100%;
        width: 100%;
        background-color: rgba(256, 256, 256, 0.8);
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
    }

    .padding {
        padding: 1em;
        font-weight: bold;
        font-size: 4.4cqw;
    }

    .p {
        line-break: strict;
    }
}
