#reizanji {
    font-weight: bold;
}

.rei-image {
    padding: 1em;
}

.yakushiku {
    font-size: 2.4em;
}

.rei-nichiji {
    font-size: 2.4em;
    text-align: center;
}

.rei-otera {
    font-size: 2em;
    text-align: center;
}

 .rei-basho {
    font-size: 1.4em;
    text-align: center;
 }

.rei-toiawase {
    font-size: 1.4em;
    text-align: center;
}