doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/kotoba.css")
        link(rel="stylesheet", href="css/oshie.css")
        link(rel="stylesheet", href="css/reizanji.css")
        link(rel="stylesheet", href="css/renjyouin.css")
        link(rel="stylesheet", href="css/bonsyousai.css")
        link(rel="stylesheet", href="css/yotei.css")
        link(rel="stylesheet", href="css/tokubetukoukai.css")
        title 清水寺通信
    body 
        .component
            .wrapper#kotoba
                include pug/_kotoba
            .wrapper#yotei 
                include pug/_yotei
            .wrapper#tokubetukoukai
                include pug/_tokubetukoukai
            .wrapper#bonsyousai 
                include pug/_bonsyousai
            .wrapper#renjyouin 
                include pug/_renjyouin 
            .wrapper#reizanji 
                include pug/_reizanji