.containar
    .title-back
        .title 清水寺からのお知らせ
    .body-containar
        .schedule-containar
            .bonshousai(aria-label="きよみずでら、だいぼんしょうさい") 清水寺大梵焼祭
            .yotei-containar
                .hiduke(aria-label="れいわ7ねん 12がつ 17にち、すいようび") 令和<yoko>7</yoko>年<yoko>12</yoko>月<yoko>17</yoko>日（水）
                .jikann <yoko>9</yoko>時～<yoko>12</yoko>時まで
        .part-containar
            .explanation-containar 
                .gazou
                    img(src="./media/11/bonsyousai.jpg", aria-label="ぼんしょうさいの画像")
                .rainen(aria-label="きたる令和8ねんのえほうである南南東にちなみ、しゅいろのごへいでかざったぼんしょうそえごまぎをたきあげ、みなさまのねがいがじょうじゅするよう心をこめてきねんいたします。今年いちねんをぶじに過ごせたことへの感謝をささげ、むかえるあらたなとしの幸せをねがって、ぼんしょうそえごまぎをくよういたしましょう") 来る令和8年の恵方（その年の干支に基づく吉方角）である南南東にちなみ、朱色の御幣で飾った梵焼添え護摩木を焚き上げ、皆様の願いが成就するよう心を込めて祈念いたします。今年一年を無事に過ごせたことへの感謝を捧げ、迎える新たな年の幸せを願って、梵焼添え護摩木を供養いたしましょう。
            .gomagi-containar
                .soegoma(aria-label="ぼんしょうそえごまぎ") 梵焼添え護摩木
                .gohyakuen(aria-label="いっぽん500円") 一本五〇〇円
                .gomagi-gazou
                    img(src="./media/11/gomagi.jpg", aria-label="ごまぎの画像")
                .negaigoto(aria-label="あなたのねがいごと、なまえ、じゅうしょをうらめんにおかきください") あなたの願い事、名前、住所を裏面にお書き下さい。
    .foot-containar 
        .irai(aria-label="ほんどうでのそえごまぎ、またぼんしょうぶつのうけつけは12月とおか、水曜日までとなります") 本堂での添え護摩木、また梵鐘物の受付は<br>12月10日（水）までとなります。
