.containar
    .title-back
        .title 清水寺からのお知らせ
    .body-containar
        .schedule-containar
            .bonshousai 清水寺大梵焼祭
            .yotei-containar
                .hiduke 令和<yoko>7</yoko>年<yoko>12</yoko>月<yoko>17</yoko>日（水）
                .jikann <yoko>9</yoko>時～<yoko>12</yoko>時まで
        .part-containar
            .explanation-containar 
                .ichinen 一年のご守護に深く感謝を捧げ、祈祷札・お守り・縁起物を浄火にて梵焼し、天宮の浄地へとお納めいたしましょう。
                .gazou
                    img(src="./media/11/bonsyousai.jpg", alt="")
                .rainen 来る令和8年の恵方（その年の干支に基づく吉方角）である南南東にちなみ、朱色の御幣で飾った梵焼添え護摩木を焚き上げ、皆様の願いが成就するよう心を込めて祈念いたします。今年一年を無事に過ごせたことへの感謝を捧げ、迎える新たな年の幸せを願って、梵焼添え護摩木を供養いたしましょう。
            .gomagi-containar
                .soegoma 梵焼添え護摩木
                .gohyakuen 一本五〇〇円
                .gomagi-gazou
                    img(src="./media/11/gomagi.jpg", alt="")
                .negaigoto あなたの願い事、名前、住所を裏面にお書き下さい。
    .foot-containar 
        .irai 本堂での、添え護摩木、また梵鐘物の受付は<br>12月10日（水）までとなります。
