.containar
    .title-back
        .title 清水寺からのお知らせ

    .fujyu
        .fujyu-info
            .yasugi 安来清水寺千年の伝統を誇る
            .koumyou <ruby>光明真言<rp>(</rp><rt>こうみょうしんごん</rt><rp>)</rp></ruby><ruby>会<rp>(</rp><rt>え</rt><rp>)</rp></ruby> （<ruby>諷誦<rp>(</rp><rt>ふじゅ</rt><rp>)</rp></ruby>）
        .fujyu-nittei 令和7年度<br>法要日程

    .waku 
        .fujyu-img
            img(src="./media/10/fujyu.jpg", alt="")
        table
            tbody
                tr
                    td 日時
                    td 10月19日
                tr
                    td 開堂
                    td 13時
                tr
                    td 法要開始
                    td 14時

    p.jikaku 1150年前に慈覚大師円仁が伝え光明真言の秘法により亡者生前の一切の罪を消し、極楽浄土へお送りする法要です。

    table.myouga
        tbody
            tr
                th(colspan="2") 供養冥加料
            tr
                td 元諷誦
                td 5000円
            tr
                td 添え諷誦
                td 3000円

    p.kijitu 法要前日まで受け付け

    p.uketuke お申込みは本堂受付までお越しください