.containar
    p.title 清水寺からのお知らせ
    p 安来清水寺千年の伝統を誇る
    p <u>光明真言会 諷誦 法要日程</u>

    .waku 
        table
            tbody
                tr
                    td 日時
                    td 10月19日
                tr
                    td 開堂
                    td 13時
                tr
                    td 法要開始
                    td 14時

    p 1150年前に慈覚大師円仁が伝えた小明真言の秘法により亡者生前の一切の罪を消し、極楽浄土へお送りする法要です。

    table
        tbody
            tr
                th(colspan="2") 供養冥加料
            tr
                td 元諷誦
                td 5000円
            tr
                td 添え諷誦
                td 3000円

    p 法要前日まで受け付け

    p お申込みは本堂受付までお越しください