.kotoba-container
    .title-back
    p.title 11月の言葉
        .copy
            | 賤しい家に生まれた人でも
            br
            | 聖者として道心堅固であり
            br
            | 恥を知って慎しむならば
            br
            | 高貴の人となる

    .source 中村元訳『ブッダのことば』