.kotoba-container
    .title-back
    p.title 10月の言葉
        .copy
            |自分を苦しめず 
            br
            |また他人を害しないことばのみを語れ
            br
            |これこそ実に 
            br
            |善く説かれたことばなのである

    .source 中村元訳『ブッダのことば』