.container
    .title-back
    p.title 10月の言葉
    .haikei
        .copy
            |強情をなくし謙虚な態度で 
            br
            |時に応じて師のもとに行け 
            br
            |ものごとと真理と自制と清らかな行いとを 
            br
            |心に憶い、かつ実行せよ 

    .source 中村元訳『ブッダのことば』