.kotoba-container
    .title-back
    p.title 11月の言葉
        .copy(aria-label="いやしいいえに生まれたひとでも、せいじゃとしてどうしんけんごであり、はじをしってつつしむならば、こうきのひととなる。")
            | <ruby>賤<rp>(</rp><rt>いや</rt><rp>)</rp></ruby>しい<ruby>家<rp>(</rp><rt>いえ</rt><rp>)</rp></ruby>に<ruby>生<rp>(</rp><rt>う</rt><rp>)</rp></ruby>まれた<ruby>人<rp>(</rp><rt>ひと</rt><rp>)</rp></ruby>でも
            br
            | <ruby>聖者<rp>(</rp><rt>せいじゃ</rt><rp>)</rp></ruby>として<ruby>道心堅固<rp>(</rp><rt>どうしんけんご</rt><rp>)</rp></ruby>であり
            br
            | <ruby>恥<rp>(</rp><rt>はじ</rt><rp>)</rp></ruby>を<ruby>知<rp>(</rp><rt>し</rt><rp>)</rp></ruby>って<ruby>慎<rp>(</rp><rt>つつ</rt><rp>)</rp></ruby>しむならば
            br
            | <ruby>高貴<rp>(</rp><rt>こうき</rt><rp>)</rp></ruby>の<ruby>人<rp>(</rp><rt>ひと</rt><rp>)</rp></ruby>となる

    .source(aria-label="なかむらはじめやく、ぶっだのことば。") 中村元訳『ブッダのことば』