.title 御仏の教え
.haikei
    p 今月は『スッタニパータ』「小なる章」の「いかなる戒めを」から聖句を選びました。
    p 「いかなる戒めを」の始めには、「いかなる戒めをまもり、いかなる行いをなし、いかなる行為を増大せしめるならば、人は正しく安立し、また最上の目的を達し得るのであろうか」との問いが立てられます。つまり、仏道修行の目的をどのようにしたら達成できるのかが問われています。そしてそれ以降、今月引用した聖句も含めて、回答がなされていきます。 
    p それでは、聖句を見ていきましょう。最初の2句については、難しいことは全く書かれていません。適切な時に師匠のもとへ教えを請いに行くことが説かれます。当たり前のことですが、その際に師からの教えを謙虚に聞く態度は必要でしょう。 
    p 3句目からはもう少し補足をしていきます。「ものごと」とは、我々のいる世界の事象（ことがら）を意味します。そして「真理」とは、この世界の法則などを指します。次いで「自制」とは自らの心の制御であり、最後の「清らかな行い」とは修行のことです。最後の二つについて勘案すると、心を制御しようと自制・実践することとも解釈できるでしょう。 
    p 以上のことから、我々も適宜アドバイスをもらいつつ、世の中のことを正しく知って、貪りや怒りといった余計な感情（煩悩）を生じさせない心穏やかな状態を少しでも作り出していくことを意識したいものです。 