.title 御仏の教え
.haikei
    .padding
        p 今月も『スッタニパータ』「大いなる章」から聖句を選びました。
        p あるバラモンが祭祀を行った後、供物のお下がりを誰にあげようかと考えていると、樹下に釈尊の姿を見つけます。そこで、かれは釈尊へ近づき、釈尊の生まれを尋ねました。それに対する釈尊の返答の一部が今月引用している聖句となります。
        p インドにはカースト制度というものがありました。カースト制度最上位に司祭者階級であるバラモンが据えられ、以下、貴族階級であるクシャトリア、庶民階級であるヴァイシャ、そして最下層には奴隷階級であるシュードラが配されます。そして、バラモンが執行する宗教が「バラモン教」です。この宗教観で成り立つ社会では生れによってその人の身分が決まってしまい、その身分はどれだけすばらしい行いがあったとしても、変わるものではありません。
        p しかしながら、釈尊はその固定概念を否定しました。釈尊は行為を通じて、その人の心の貴賤を量ろうとしたのです。生まれながらに決まってしまう階級でもって、人を判断しようとしませんでした。今月の聖句においても同様です。
        p 現代の日本では身分社会は存在しませんが、それでも我々は肩書きなどを重視してその人自身を見ないことがあります。肩書きはその人を見る一つの材料であって、その人の行動も考慮して判断したいものです。