.containar
    .title-back
        .title 霊山寺からのお知らせ

    .rei-image
        img(src="./media/10/reizan.jpg", aria-label="")

    .yakushiku 薬師護摩供養祭

    .rei-nichiji 毎月８日<br>午後２時より

    .rei-toiawase お問い合わせは<br>TEL:0854-22-2151<br>清水寺まで