.containar.ren-image
    .title-back
        .title 蓮乗院からのお知らせ

    .ren-tateCtn

        .ren-nichiji <span class="yoko">11</span>日<span class="yoko">11</span>日（火） 午前<span class="yoko">10</span>時より

        .ren-subtitle 清水寺稲荷社大祭

        .ren-title もっこ祭り

        .ren-torii 鳥居奉納
        
        .ren-kuguri くぐり初め
    
    .ren-img-containar
        .ren-img
            .img-torii
                img(src="./media/10/torii1_myoujin.png", aria-label="")
            .img-mikan
                img(src="./media/10/fruit_yaki_mikan.png", aria-label="")
                | やきみかん