.containar.ren-image
    .title-back
        .title 蓮乗院からのお知らせ

    .tateCtn

    .ren-nichiji <span class="yoko">11</span>火<span class="yoko">11</span>日（月） 午前<span class="yoko">10</span>時より

        .ren-subtitle 清水寺稲荷社大祭

        .ren-title もっこ祭り

        .ren-torii 鳥居奉納
        
        .ren-kuguri くぐり初め
    
    .ren-imege
        .ren-yudate
        .ren-mikan