.containar
    .title-back 
        .title 秋の特別公開
    
    .yoko-containar 
        .title-containar
            .koukai 三重塔・宝物館 特別公開
            .nichiji-containar
                .nichi(aria-label="11がつ22にちから30にち") <yoko>11</yoko>月<yoko>22</yoko>日～<yoko>30</yoko>日
                .ji(aria-label="にゅうかんは10じから16じまで") 入館 <yoko>10</yoko>時～<yoko>16</yoko>時
        
        .info-containar 
            .title 三重塔登閣（500円）
            .san-pict 
                img(src="./media/11/tou.jpg", aria-label="")
            .body 三層目まで登れる木造多宝塔は日本でも非常に珍しいので、ぜひご体験ください。
            .title 宝物館拝観（500円）
            .hou-pict 
                img(src="./media/11/houzou.jpg", aria-label="")
            .body 謎多き<ruby>摩多羅神<rp>(</rp><rt>またらじん</rt><rp>)</rp></ruby>像をはじめ、寺宝の数々を公開。