.container
    p.title 清水寺通信
        br
        |2025年11月号
    
    .yotei-ctn
        .item
            table
                thead
                    tr
                        th 11月
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td もっこ祭り
                    tr
                        td 17日
                        td 観音様ご縁日
        
        .item
            table
                thead
                    tr
                        th 12月 
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td 稲荷社ご縁日
                    tr
                        td 17日
                        td 大梵焼祭
                    tr
                        td 31日
                        td 除夜祭