.container
    p.title 清水寺通信
        br
        |2025年10月号
    
    .ctn
        .item
            table
                thead
                    tr
                        th 10月
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td 稲荷社ご縁日
                    tr
                        td 17日
                        td 観音様ご縁日
                    tr
                        td 18日
                        td 萬燈会
                    tr
                        td 19日
                        td 光明真言会（諷誦法要）
        
        .item
            table
                thead
                    tr
                        th 11月
                        th 行事予定
                tbody
                    tr
                        th 11日
                        th もっこ祭り
                    tr
                        th 17日
                        th 観音様ご縁日