.container
    p.title(aria-label="きよみずでらつうしん") 清水寺通信
        br
        |2025年11月号
    
    .yotei-ctn
        .item
            table
                thead
                    tr
                        th 11月
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td もっこ祭り
                    tr
                        td 17日
                        td 観音様ご縁日
                    tr
                        td(aria-label="22日から30日まで") 22日<br>～30日
                        td(aria-label="秋の特別公開、ほうもつかん、さんじゅうのとう") 秋の特別公開<br>宝物館・三重塔
        
        .item
            table
                thead
                    tr
                        th 12月 
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td(aria-label="いなりしゃごえんにち") 稲荷社ご縁日
                    tr
                        td 17日
                        td(aria-label="だいぼんしょうさい") 大梵焼祭
                    tr
                        td 31日
                        td(aria-label="じょやさい") 除夜祭