.container
    p.title 清水寺通信
        br
        |2025年9月号
    
    .ctn
        .item
            table
                thead
                    tr
                        th ９月
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td 稲荷社ご縁日
                    tr
                        td 17日
                        td 観音様ご縁日<br>観音会先祖供養祭
                    tr
                        td 23日
                        td 秋の彼岸法要<br>英霊観音供養祭
        
        .item
            table
                thead
                    tr
                        th 10月
                        th 行事予定
                tbody
                    tr
                        td 11日
                        td 稲荷社ご縁日
                    tr
                        td 17日
                        td 観音様ご縁日
                    tr
                        td 18日
                        td 萬燈会
                    tr
                        td 19日
                        td 諷誦法要